/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"); */

/* @import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Newsreader&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Newsreader', serif; */
  /* font-family: "Ubuntu", sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  background-color: #264653;
  height: 80px;
  gap: 5px;
  justify-content:space-around;
  font-size: 20px;
  position: fixed;
  z-index: 2;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px #000;
  border-bottom: 3px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.fst_navDiv {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fst_navDiv a {
  font-size: 30px;
  margin-right: 10px;
  color: bisque;
  text-decoration: none;
}

.fst_navDiv span {
  font-size: 14px;
  color:whitesmoke;
}

.Snd_navDiv {
    display: flex;
    width: 80%;
    /* justify-content: flex-end; */
    align-items: center;
    padding-right: 21px;
    position: relative;
}

.logout_li{
position: absolute;
right: 58px;

}

.secdiv{
  display: flex;
   justify-content: flex-end; 
  

}

.Snd_navDiv ul li {
  text-decoration: none;
  display: inline;
}

.a_tag_elm {
  padding: 10px;
  color: bisque;
  text-decoration: none;
}

.a_tag_elm:hover {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #0e3347;
  cursor: pointer;
}

.video_nd_txt_div {
  position: relative;
  height: 100%;
  z-index: -1;
}

.video_div {
  position: relative;
}

.Bg_video {
  height: 100%;
  width: 100%;
}

.blue_color_div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #225470;
  /* z-index: 1; */
  opacity: 0.8;
}

.txt_div {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 40%;
  text-align: center;
  color: #fff;
  gap: 10px;
  height: 120px;
}

.txt_div h1 {
  font-size: 40px;
}

.txt_div small {
  font-size: 20px;
}

.platformdetails{
  position: absolute;
  z-index: 1;
  bottom: 30%;
  left: 1%;
  text-align: center;
  color: #fff;
  height: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platformdetails:hover{
border: 2px solid black;
cursor: pointer;
}

.logindiv{
  visibility: hidden;
    height: 300px;
    width: 500px;
    position: absolute;
    top: 200px;
    left: 510px;
    /* padding-top: 65px; */
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 10px;
    background-color: black;
}

.login_heading {
    font-size: 25px;
    top: 12px;
    position: absolute;
    margin-bottom: 5px;
    left: 180px;
    color: white;
    font-style: italic;
}
.para{
  color: #fff;
}

#SwitchtoSignUp{
  color: blue;
  cursor: pointer;
}

.logindiv2 {
  display: flex;
  height: 155px;
  padding-top: 65px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

form > input {
  margin-top: 10px;
  box-sizing: border-box;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
}

 #login-form-submit {
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  width: 60px;
  background-color: rgb(26, 75, 167);
  font-size: 14px;
} 


.CloseLoginDivBttn {
  position: absolute;
  top: 0px;
  right: 6px;
  font-size: 20px;
  transform: rotate(45deg);
  cursor: pointer;
  color: white;
}

.signDiv {
    visibility: hidden; 
    height: 350px;
    width: 327px;
    position: absolute;
    top: 140px;
    left: 551px;
    margin-top: 10px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: black;
}






/* ------------------------------------------signup form style------------------------------ */
#signUpForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  /* background: bisque; */
  justify-content: center;
  align-items: center;
}

#signUpDiv {
  width: 400px;
  height: 450px;
  background: white;
  position: relative;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  box-shadow: 0px 0px 6px 6px grey;
}

.inputvalitation {
  border-radius: 5px;
  width: 80%;
  height: 28px;
  text-decoration: none;
  border: 1px solid black;
}

#signUpDiv h1 {
  display: flex;
  justify-content: center;
}

#signUpForm input:focus-visible {
  outline: none;
}

.basketTotalTitle {
  border: 2px solid black;
  display: inline;
  background: blue;
  color: white;
}

#closeForm {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
  width: fit-content;
  margin: 0px;
  height: auto;
  transform: rotate(45deg);
}

#signUpButton {
  color: #fff;
  background-color: cornflowerblue;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  text-decoration: none;
  border: 1px solid black;
}

#signUpButton:hover {
  background-color: darkblue;
}

.switchText {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: flex-end;
}

/*-----------------------------------------------------------------------------------------------------------------  */



/*------------------------------ update form css------------------------------ */

.updateDiv{
    position: absolute;
    bottom: 30%;
    border: 1px solid black;
    border-radius: 10px;
    left: 38%;
    height: 400px;
    width: 350px;
    visibility: hidden;
    background: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 6px 5px grey;
}

#updateform{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.updatebttn{
  color: #fff;
  background-color: cornflowerblue;
  cursor: pointer;
}

.updatebttn:hover{
  background-color: darkblue;
}

#updateform > input{
  width: 250px;
}


#closeUpdateDivBttn{
    position: absolute;
    top: -4px;
    right: 0px;
    font-size: 35px;
    transform: rotate(45deg);
    cursor: pointer;
}


#updateFormbutton{
  color: #fff;
  background-color: cornflowerblue;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  text-decoration: none;
  border: 1px solid black;
}

#updateFormbutton:hover {
  background-color: darkblue;
}



/*------------------------------ update form css end------------------------------ */


/* feedback form css */

#feedbackForm{
    height: 400px;
    position: absolute;
    top: 18%;
    left: 38%;
    background: white;
    width: 350px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 6px 5px grey;
    border: 1px solid black;
    border-radius: 10px;
}

#closeFeedbackForm{
  position: absolute;
    top: -4px;
    right: 0px;
    font-size: 35px;
    transform: rotate(45deg);
    cursor: pointer;
}

#feedForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.feedbackInput{
margin-bottom: 10px;
width: 300px;
}

#feedForm > textarea{
display: flex;
justify-content: flex-start;
align-items: flex-start;
text-align: left;
width: 300px;
}

.feedBackSumbitButton{
  color: #fff;
  background-color: cornflowerblue;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  text-decoration: none;
  border: 1px solid black;
}

.feedBackResetButton{
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  text-decoration: none;
  border: 1px solid black;
}

.feedBackResetButton:hover{
  color: #fff; 
   background-color: cornflowerblue;
}

.feedBackSumbitButton:hover{
    background-color: darkblue;
}

/* feedback from css ends */

#allcourses{
  padding-top: 85px;
  /* background-color: burlywood; */
}

.courses{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  gap: 20px;
  justify-content: center;
  padding-bottom: 30px;
  min-height: calc(100vh - 213px);
}

.courseHeading{
  text-align: center;
  text-decoration: underline;
}


.courseName{
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}

.course1{
    height: 340px;
    width: 30%;
    background-color: #1f586e;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2em 1em 4em / 0.5em 3em;
    margin-top: 45px;
    position: relative;
    display: flex;
    gap: 7px;
    transform: scale(1);
    transition: transform.5s, opacity.5s;
    color: whitesmoke;
}

.course1:hover{
  transform: scale(1.03);
  opacity: 0.9;
  box-sizing: border-box;
  border: 2px solid black;
  color: antiquewhite;
}


.courseImgDiv{
  height: 250px;
  /* background: aqua; */
  width: 240%;
  margin: 5px;
}

.courseImg{
  height: 99%;
  width: 99%;
  border-radius: 8px;
}

.coursePrice{
margin-top: 30px;
}

.courseTime span{
font-weight: 800;
}

.addtocartbtn{
  position: absolute;
  bottom: 35px;
  right: 60px;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  width: 120px;
  font-weight: 700;
}

.addtocartbtn:hover{
 background-color: #1f586e;
 color: whitesmoke;
}




/* -----------MYProfile page css---------------- */
.container{
  margin-top: 0px;
  position: absolute;
  top: 150px;
  background-color: #264653;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.container h1{
  color: whitesmoke;
  display: flex;
  gap: 50px;
}

.content{
  width: 250px;
  background: aliceblue;
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.fas{
font-size: 28px;
}

.feedBackDiv{
width: 200px;
}
.feedBackDiv > h3 {
margin-right: 40px;
}

.secondContainer{
  display: flex;
  justify-content: space-around;
  /* margin: auto; */
  align-content: center;
  align-items: center;
  height: inherit;
}






/* -----------MYProfile page css end---------------- */


.cart{
/* background-color: crimson; */
width: 100px;
font-size: 15px;
display: flex;
justify-content: center;
align-items: center;
color: black;
flex-direction: row;
}

.cart span {
  font-size: 25px;
  display: flex;
}

.cart a {
color: white;
text-decoration: none;
margin-right: 5px;
display: flex;
}

.cart h2{
margin: 0 5px;
/* margin-right: 5px; */
}






/* footer................ */


.mainFooter{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    color: antiquewhite;
    background-color: #2f3e46;
    flex-direction: column;
    gap: 40px;
    height: 133px;
}

.mainFooter ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
    list-style-type: none;
}

.mainFooter ul h6{
    display: flex;
    align-items: center;
}

.footerLi i{
  font-size: 25px;
}


.footerLi i:hover{
  cursor: pointer;
}




.profileFooter{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* .cartFooter{
  position: fixed;
  bottom:0px;
  width: 100%;
} */




/* ----------------cart page----------------- */



.product_container {
  max-width: 710px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
  height: 100%;
  top: 100px;
  background-color: #264653;
  color: whitesmoke;
  border: 3px solid black;
  margin-bottom: 105px;
}

.product_header{
width: 100%;
max-width: 710px;
display: flex;
justify-content: flex-start;
border-bottom: 4px solid lightgrey;
margin: 0 auto;
}

.product_title{
  width: 45%;
  border-bottom: 1px solid lightgray;
}

.price{
width: 15%;
border-bottom: 1px solid lightgray;
display: flex;
align-items: center;
}

.quantity {
width: 30%;
border-bottom: 1px solid lightgrey;
display: flex;
align-items: center;
justify-content: center;
}

.total {
width: 10%;
border-bottom: 1px solid lightgray;
display: flex;
align-items: center;
}

.product{
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.product > h3 {
text-decoration: underline;
}

.products{
display: contents;
}

.basketTotalContainer{
  display: block;
  justify-content: flex-end;
  position: relative;
  width: 98%;
  padding: 10px 0;
}

.basketTotalTitle{
  position: absolute;
  right: 0;
}

.payment_button{
  border: none;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 7px;
  cursor: pointer;
  color: white;
  background-color: blue;
  box-shadow: 0px 0px 2px 2px blue;
  border-radius: 3px;
}

.basketTotal{
width: 10%;
}

.cartImg{
  height: 200px;
  width: 220px;
  border: 1px solid black;
}

.cancelbutton{
  position: absolute;
  font-size: 25px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}


.paymentDiv{
  display: flex;
  top: 30%;
  left: 27.9%;
  position: fixed;
  height: 305px;
  width: 600px;
  border: 2px solid black;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  /* visibility: hidden; */
  background-color: rgb(243, 240, 235);
  border-radius: 10px;
}

.col{
  display: flex;
  justify-content: space-between;
  width: 50%;
}


/* mycourse page style -----------*/
.courseContainer{
  width: 100%;
  height: 200px;
  background-color: coral;
  position: absolute;
  top: 80px;
}
/* ----------------- */